body {
    text-align: center;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-body{
  position: relative;
  width: 400px;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 10px;
  transform: translate(-50%, -70%);
}

.modal-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1.5rem;
  border-bottom: 1px solid gray;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.modal-button {
  width: 60px;
  height: 40px;
  border-radius: 10px;
}

.modal-close {
  font-weight: bold;
  font-size: 2rem;
}

.hide {
  display: none;
}
